<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
</head>
<body>
    <h1>Dobrodošli!</h1>
    <ul>
        <li><a th:href="@{/seller/profile_info}">Lični podaci</a></li>
        <li><a th:href="@{/seller/apartment_overview}">Pregled apartmana</a></li>
        <li><a th:href="@{/seller/apartment_lookup}">Pronađite apartman</a></li>
        <li><a th:href="@{/seller/view_reservation}">Pregled rezervacija</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
    <div th:if="${status != null}">
        <p th:text="${status}"></p>
    </div>
</body>
</html>